<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let producto of productos">
            <td>{{ producto.id }}</td>
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.precio | currency:'PEN ':'S/.' }}</td>
            <td>
                <button (click)="editarProducto(producto)">Editar</button>
                <button (click)="eliminarProducto(producto.id)">Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>