<nav class="navbar navbar-expand-md bg-body-tertiary">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuSignos"
            aria-controls="menuSignos" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">Signos App</a>
        <div class="collapse navbar-collapse" id="menuSignos">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Directivas
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/estructurales">Estructurales</a></li>
                        <li><a class="dropdown-item" href="/atributos">De atributos</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Formularios
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="template">Template driven</a></li>
                        <li><a class="dropdown-item" href="reactive">Reactive driven</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/pipes">Pipes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/gestor">Servicios</a>
                </li>
            </ul>
        </div>
        <button type="button" class="btn btn-primary">Tema</button>
    </div>
</nav>