<h3>Directivas de atributos</h3>
<h5>NgClass</h5>
<p [ngClass]="'esValido'">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe earum ut deserunt amet blanditiis mollitia quaerat,
    nam
    labore, exercitationem ex quo cumque incidunt distinctio sit vero reiciendis, ipsam sed? Voluptate.
</p>
<p [ngClass]="valido ? 'esValido' : 'esInvalido'">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe earum ut deserunt amet blanditiis mollitia quaerat,
    nam
    labore, exercitationem ex quo cumque incidunt distinctio sit vero reiciendis, ipsam sed? Voluptate.
</p>
<h5>NgStyle</h5>
<p [ngStyle]="{'color':'blue'}">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe earum ut deserunt amet blanditiis mollitia quaerat,
    nam
    labore, exercitationem ex quo cumque incidunt distinctio sit vero reiciendis, ipsam sed? Voluptate.
</p>
<p [ngStyle]="estilos">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe earum ut deserunt amet blanditiis mollitia quaerat,
    nam
    labore, exercitationem ex quo cumque incidunt distinctio sit vero reiciendis, ipsam sed? Voluptate.
</p>